@*@page "/about"*@

<Div Display=Display.Flex>
    <h4 class="d-inline-block">@Localizer["About"]</h4>
    <Button Class="shadow-none" Margin=Margin.Is0.OnY.IsAuto.FromStart Padding=Padding.Is0 @onclick="ShowMainScreen">
        <Icon Class="fa-fw" Name="IconName.Times" />
    </Button>
</Div>

<h5><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> - @Localizer["the procrastination friendly habit tracker"]:</h5>

<h6><a href="https://ididit.today" target="_blank"><span class="fa fa-globe"></span><Span Margin=Margin.Is1.FromStart>https://ididit.today</Span></a></h6>

<h6><a href="https://github.com/Jinjinov/Ididit" target="_blank"><span class="fab fa-github"></span><Span Margin=Margin.Is1.FromStart><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> on GitHub</Span></a></h6>

<ul>
    <li><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> doesn't use a streak counter so you won't feel demotivated when you skip a habit once - you won't have to start your streak from zero.</li>
    <li>It tracks the time elapsed since your last task completion and compares it to the task's repeating interval.</li>

    <li>A task with a 10 day interval which is 2 days overdue is at 120% - but a task with a 4 day interval which is also 2 days overdue is at 150%.</li>
    <li>This allows you to easily prioritize your tasks based on their level of urgency.</li>
</ul>

<h6>Take notes, manage tasks, track habits:</h6>
<ul>
    <li>Define your goals by organizing your notes, tasks and habits all in one place</li>
    <li>Use categories and sub-categories to group similar goals</li>
    <li>Keep track of what is important by assigning priorities</li>
</ul>

<h6>Search, filter and sort:</h6>
<ul>
    <li>Use search to quickly find any content</li>
    <li>Use filters to view only what you want to focus on</li>
    <li>Sort your notes, tasks and habits by any property</li>
</ul>

<h6>Habit tracking:</h6>
<ul>
    <li>Set the desired interval for your habits (repeating tasks)</li>
    <li>Compare the average interval with the desired interval</li>
    <li>See when you last completed a task and how that compares to the desired interval</li>
</ul>

<h6>Integration with Google services:</h6>
<ul>
    <li>Import from Google Keep</li>
    <li>Backup to and restore from Google Drive in JSON format</li>
</ul>

<h6>File import/export:</h6>
<ul>
    <li>Human readalbe Markdown and YAML formats</li>
    <li>The popular JSON format</li>
    <li>Excel and Google Sheets compatible TSV (Tab Separated Values)</li>
</ul>

<span>&#169; 2022</span>