@*@page "/about"*@

<Span><a href="https://github.com/Jinjinov/Ididit" target="_blank"><span class="fab fa-github"></span> GitHub</a></Span>
<Span>&#169; 2022</Span>

<h3>ididit! - the procrastination friendly habit tracker:</h3>

Unlike many other habit trackers, ididit! has no streak counter.
That means that you are not punished for skipping one day and breaking a streak.

Instead, ididit! keeps track of the time elapsed since the last time you completed the repeating task and compares it with its interval.
You can immediately see how much a task is overdue relatively to its interval and how it compares to other tasks.

<h3>Take notes, manage tasks, track habits:</h3>

Define your goals by organizing your notes, tasks and habits in one place.
Use categories and sub-categories to group similar goals.
Keep track of what is important by assigning priority to any note, task or habit.

<h3>Search, filter and sort:</h3>

Use search to quickly find any note, task or habit.
Use filters to list only the notes, tasks and habits that meet the criteria.
Sort your notes, tasks and habits by any property.

<h3>Habit tracking:</h3>

Set the desired interval for your habits (repeating tasks).
Compare the actual average interval with the desired interval.
See when you last completed a repeating task and how that compares to the desired interval.

<h3>Integration with Google services:</h3>

Import from Google Keep.
Backup to Google Drive.

<h3>File import/export:</h3>

Markdown import/export.
JSON import/export.
YAML import/export.
TSV (Tab Separated Values) import/export.