@*@page "/about"*@

<h3><a href="https://github.com/Jinjinov/Ididit" target="_blank"><span class="fab fa-github"></span><Span Margin=Margin.Is1.FromStart>GitHub</Span></a></h3>

<h3>ididit! - the procrastination friendly habit tracker:</h3>
<ul>
    <li>Unlike many other habit trackers, ididit! has no streak counter.</li>
    <li>That means that you are not punished for skipping one day and breaking a streak.</li>

    <li>Instead, ididit! keeps track of the time elapsed since the last time you completed the repeating task and compares it with its interval.</li>
    <li>You can immediately see how much a task is overdue relatively to its interval and how it compares to other tasks.</li>
</ul>
<h3>Features</h3>
<h4>Take notes, manage tasks, track habits:</h4>
<ul>
    <li>Define your goals by organizing your notes, tasks and habits in one place</li>
    <li>Use categories and sub-categories to group similar goals</li>
    <li>Keep track of what is important by assigning priority to any note, task or habit</li>
</ul>
<h4>Search, filter and sort:</h4>
<ul>
    <li>Use search to quickly find any note, task or habit</li>
    <li>Use filters to list only the notes, tasks and habits that meet the criteria</li>
    <li>Sort your notes, tasks and habits by any property</li>
</ul>
<h4>Habit tracking:</h4>
<ul>
    <li>Set the desired interval for your habits (repeating tasks)</li>
    <li>Compare the actual average interval with the desired interval</li>
    <li>See when you last completed a repeating task and how that compares to the desired interval</li>
</ul>

<h3>Formats</h3>
<h4>Integration with Google services:</h4>
<ul>
    <li>Import from Google Keep</li>
    <li>Backup to Google Drive</li>
</ul>
<h4>File import/export:</h4>
<ul>
    <li>Markdown import/export</li>
    <li>JSON import/export</li>
    <li>YAML import/export</li>
    <li>TSV (Tab Separated Values) import/export</li>
</ul>

<span>&#169; 2022</span>