@*@page "/about"*@

<Div Display=Display.Flex>
    <h4 class="d-inline-block">@Localizer["About"]</h4>
    <Button Class="shadow-none" Margin=Margin.Is0.OnY.IsAuto.FromStart Padding=Padding.Is0 @onclick="ShowMainScreen">
        <Icon Class="fa-fw" Name="IconName.Times" />
    </Button>
</Div>

<h5><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> - @Localizer["the procrastination friendly habit tracker"]:</h5>
<ul>
    <li>Unlike many other habit trackers, <span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> has no streak counter.</li>
    <li>That means that you are not punished for skipping one day and breaking a streak.</li>

    <li>Instead, <span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> keeps track of the time elapsed since the last time you completed the repeating task and compares it with its interval.</li>
    <li>You can immediately see how much a task is overdue relatively to its interval and how it compares to other tasks.</li>
</ul>

<h6><a href="https://ididit.today" target="_blank"><span class="fa fa-globe"></span><Span Margin=Margin.Is1.FromStart>https://ididit.today</Span></a></h6>

<h6><a href="https://github.com/Jinjinov/Ididit" target="_blank"><span class="fab fa-github"></span><Span Margin=Margin.Is1.FromStart><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span> on GitHub</Span></a></h6>

<h5>Features</h5>
<h6>Take notes, manage tasks, track habits:</h6>
<ul>
    <li>Define your goals by organizing your notes, tasks and habits in one place</li>
    <li>Use categories and sub-categories to group similar goals</li>
    <li>Keep track of what is important by assigning priority to any note, task or habit</li>
</ul>
<h6>Search, filter and sort:</h6>
<ul>
    <li>Use search to quickly find any note, task or habit</li>
    <li>Use filters to list only the notes, tasks and habits that meet the criteria</li>
    <li>Sort your notes, tasks and habits by any property</li>
</ul>
<h6>Habit tracking:</h6>
<ul>
    <li>Set the desired interval for your habits (repeating tasks)</li>
    <li>Compare the actual average interval with the desired interval</li>
    <li>See when you last completed a repeating task and how that compares to the desired interval</li>
</ul>

<h5>Formats</h5>
<h6>Integration with Google services:</h6>
<ul>
    <li>Import from Google Keep</li>
    <li>Backup to Google Drive</li>
</ul>
<h6>File import/export:</h6>
<ul>
    <li>Markdown import/export</li>
    <li>JSON import/export</li>
    <li>YAML import/export</li>
    <li>TSV (Tab Separated Values) import/export</li>
</ul>

<span>&#169; 2022</span>