@using Blazorise.TreeView
@using Ididit.Model.Models

@*<Card Margin=Margin.Is2.OnY>
<CardBody Padding=Padding.Is1>*@

<CheckBox Checked="Settings.ShowAllTasks" CheckedChanged="OnShowAllTasksChanged">Show all tasks</CheckBox>

@if (!Settings.ShowAllTasks)
{
    <CheckBox Checked="Settings.HideEmptyGoals" CheckedChanged="OnHideEmptyGoalsChanged">Hide goals with no tasks</CheckBox>

    <CheckBox Checked="Settings.HideGoalsWithSimpleText" CheckedChanged="OnHideGoalsWithSimpleText">Hide goals with simple text</CheckBox>

    <CheckBox Checked="Settings.ShowAllGoals" CheckedChanged="OnShowAllGoalsChanged">Show all goals</CheckBox>

    if (Settings.ShowAllGoals)
    {
        <CheckBox Checked="Settings.ShowCategoriesInGoalList" CheckedChanged="OnShowCategoriesInGoalListChanged">Show categories in goal list</CheckBox>
    }

    <Div>Categories:</Div>

    <Button Color=Color.Primary Outline=true Size=Size.Small @onclick=ToggleAll>Toggle all</Button>
    <Button Color=Color.Primary Outline=true Size=Size.Small @onclick=NewCategory>Add category to @SelectedCategory.Name</Button>

    <TreeView Margin=Margin.Is0.Is1.FromTop
              TNode="CategoryModel"
              Nodes=Repository.CategoryList
              GetChildNodes="GetChildNodes"
              HasChildNodes="HasChildNodes"
              SelectedNode=SelectedCategory
              SelectedNodeChanged="OnSelectedCategoryChanged"
              NodeStyling="NodeStyling"
              SelectedNodeStyling="SelectedNodeStyling"
              @bind-ExpandedNodes=_expandedNodes>
        <NodeContent>
            @if (context == SelectedCategory)
            {
                <CategoryComponent Category=context CategoryChanged="async (category) => { context = category; await OnCategoryChanged(category); }" @bind-EditCategory=_editCategory />
            }
            else
            {
                @context?.Name
            }
        </NodeContent>
    </TreeView>
}

@*</CardBody>
</Card>*@
