@using Blazorise.TreeView
@using Ididit.Data.Models

<EditCategoryComponent @bind-Category=SelectedCategory />

<Button Color=Color.Primary Outline=true @onclick=ShowAllGoals><span class="fa fa-fw fa-minus"></span>Show all goals</Button>
<Button Color=Color.Primary Outline=true @onclick=NewCategory><span class="fa fa-fw fa-plus"></span>Add category</Button>

<TreeView Margin=Margin.Is0
          Nodes=_repository.CategoryList
          GetChildNodes="@((CategoryModel? item) => item?.CategoryList)"
          HasChildNodes="@((CategoryModel? item) => item?.CategoryList?.Any() == true)"
          SelectedNode=SelectedCategory
          SelectedNodeChanged=@(async (CategoryModel category) => await OnSelectedCategoryChanged(category))
          @bind-ExpandedNodes=_expandedNodes>
    <NodeContent>@context?.Name</NodeContent>
</TreeView>
