@if (EditCategory == Category && Category is not null)
{
    <Addons Flex=Flex.NoWrap>
        <TextEdit @ref=_textEdit Size="Size.Small" @bind-Text="@_categoryName" KeyUp=KeyUp FocusOut=FocusOut Placeholder="@Localizer["Add new category"]" />
        <Addon AddonType="AddonType.End">
            <Button Color="Color.Primary" Outline="true" Size="Size.Small" @onclick=SaveName><Icon Class="fa-fw" Name="IconName.Save" /></Button>
            @*<Button Color="Color.Primary" Outline="true" Size="Size.Small" @onclick=CancelEdit><Icon Class="fa-fw" Name="IconName.Times" /></Button>*@
        </Addon>
    </Addons>
}
else
{
    <Addons Flex=Flex.NoWrap>
        <TextEdit Size="Size.Small" Text="@Category?.Name" ReadOnly=true />

        <Addon AddonType="AddonType.End">
            <Button Color="Color.Primary" Outline="true" Size="Size.Small" @onclick=EditName><Icon Class="fa-fw" Name="IconName.Edit" /></Button>
            @if (Category?.Id != 1)
            {
                <Button Color="Color.Primary" Outline="true" Size="Size.Small" @onclick=DeleteCategory><Icon Class="fa-fw" Name="IconName.Delete" /></Button>
            }
        </Addon>
    </Addons>
}