@using Blazorise.TreeView
@using Ididit.Data.Models

@*<Card Margin=Margin.Is2.OnY>
<CardBody Padding=Padding.Is1>*@

    <Button Color=Color.Primary Outline=true Size=Size.Small @onclick=ToggleAll>Toggle all</Button>
    <Button Color=Color.Primary Outline=true Size=Size.Small @onclick=NewCategory>Add category to @SelectedCategory.Name</Button>

    <CheckBox Checked="ShowAllGoals" CheckedChanged="OnShowAllGoalsChanged">Show all goals</CheckBox>
    <CheckBox Checked="ShowAllTasks" CheckedChanged="OnShowAllTasksChanged">Show all tasks</CheckBox>

    <TreeView Margin=Margin.Is0.Is1.FromTop
              TNode="CategoryModel"
              Nodes=Repository.CategoryList
              GetChildNodes="GetChildNodes"
              HasChildNodes="HasChildNodes"
              SelectedNode=SelectedCategory
              SelectedNodeChanged="OnSelectedCategoryChanged"
              NodeStyling="NodeStyling"
              SelectedNodeStyling="SelectedNodeStyling"
              @bind-ExpandedNodes=_expandedNodes>
        <NodeContent>
            @if (context == SelectedCategory)
            {
                <EditCategoryComponent Category=context CategoryChanged="async (category) => { context = category; await OnCategoryChanged(category); }" @bind-EditCategory=_editCategory />
            }
            else
            {
                @context?.Name
            }
        </NodeContent>
    </TreeView>

@*</CardBody>
</Card>*@
