
<div class="custom-control custom-checkbox">
    <input @ref=elementReference class="custom-control-input" id="@elementId" type="checkbox" checked="@internalChecked" @onchange="OnChange" />
    <label class="custom-control-label" for="@elementId">@ChildContent</label>
</div>
