
<div class="custom-control custom-checkbox">
    <input @ref=_elementReference class="custom-control-input" id="@_elementId" type="checkbox" checked="@_internalChecked" @onchange="OnChange" />
    <label class="custom-control-label" for="@_elementId">@ChildContent</label>
</div>
