@if (EditGoal == Goal && Goal != null)
{
    <Addons Flex=Flex.NoWrap @onclick:stopPropagation>
        <TextEdit @ref=_textEdit Border=Border.Is0 Size="Size" @bind-Text="@Goal.Name" Placeholder="Add new goal" />
        <Addon AddonType="AddonType.End">
            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick=SaveName><Icon Name="IconName.Save" /></Button>
            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick=CancelEdit><Icon Name="IconName.Times" /></Button>
        </Addon>
    </Addons>
}
else
{
    <Addons Flex=Flex.NoWrap>
        <TextEdit Border=Border.Is0 Size="Size" Text="@Goal?.Name" ReadOnly=true />

        <Addon AddonType="AddonType.End" @onclick:stopPropagation>
            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick=EditName><Icon Name="IconName.Edit" /></Button>
            <Button Color="Color.Primary" Outline="true" Size="Size" @onclick=DeleteGoal><Icon Name="IconName.Delete" /></Button>
        </Addon>
    </Addons>
}