@using Ididit.Data.Models

<Div Margin=Margin.Is2.OnY>

    <Card>
    <CardBody Padding=Padding.Is1>

        <div>Selected goal: @_selectedGoal?.Name</div>

        <div>Parent category: @SelectedCategory?.Name</div>

        @if (SelectedCategory != null)
        {
            <Button Color=Color.Primary Outline=true Size="Size" @onclick=NewGoal><Icon Name="IconName.Add" />Add goal</Button>
        }

    </CardBody>
    </Card>

    @if (SelectedCategory != null)
    {
        @foreach (GoalModel goal in SelectedCategory.GoalList)
        {
            <GoalComponent @key=goal Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=Filters />
        }
    }
    else
    {
        @foreach (CategoryModel category in Repository.AllCategories.Values)
        {
            if (category.GoalList.Where(goal => goal.GetFilteredTasks(Filters).Any()).Any())
            {
                <Button @key=category Margin=Margin.Is2.FromTop.Is2.FromEnd Color=Color.Primary Size="Size" @onclick="async () => await OnSelectedCategoryChanged(category)">@category.Name</Button>
            }

            @foreach (GoalModel goal in category.GoalList)
            {
                <GoalComponent @key=goal Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=Filters />
            }
        }
    }

</Div>
