@using Ididit.Data.Models

<EditGoalComponent @bind-Goal=_selectedGoal ParentCategory=ParentCategory />

<div>Parent: @ParentCategory?.Name</div>

<div>Selected: @_selectedGoal?.Name</div>

@if (ParentCategory != null)
{
    <Button Color=Color.Primary Outline=true @onclick=NewGoal><Icon Name="IconName.Add" />Add goal</Button>
}

@foreach (GoalModel goal in ParentCategory?.GoalList ?? _repository.AllGoals.Values)
{
    <GoalComponent Goal=goal @bind-SelectedGoal=_selectedGoal />
}
