@using Ididit.Data.Models

<Div Margin=Margin.Is0.OnMobile.Is2.OnDesktop>

    <Card>
    <CardBody Padding=Padding.Is1>

        <Button Color=Color.Primary Outline=true Size="Size.Small" Margin=Margin.Is2.FromStart @onclick=NewGoal>Add goal to @SelectedCategory.Name</Button>

    </CardBody>
    </Card>

    @if (ShowAllGoals)
    {
        @foreach (CategoryModel category in Repository.AllCategories.Values)
        {
            if (Filters.ShowCategoriesInGoalList && category.GoalList.Where(goal => goal.GetFilteredTasks(Filters).Any()).Any())
            {
                <Button @key=category Margin=Margin.Is2.FromTop.Is2.FromEnd Color=Color.Primary Size="Size" @onclick="async () => await OnSelectedCategoryChanged(category)">@category.Name</Button>
            }

            @foreach (GoalModel goal in category.GoalList)
            {
                <GoalComponent @key=goal Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=Filters />
            }
        }
    }
    else
    {
        @foreach (GoalModel goal in SelectedCategory.GoalList)
        {
            <GoalComponent @key=goal Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=Filters />
        }
    }

</Div>
