@using Ididit.Data.Models

<Div Margin=Margin.Is2.OnY>

    <Card>
    <CardBody Padding=Padding.Is1>

        <div>Selected goal: @_selectedGoal?.Name</div>

        <div>Parent category: @SelectedCategory?.Name</div>

        @if (SelectedCategory != null)
        {
            <Button Color=Color.Primary Outline=true Size="Size" @onclick=NewGoal><Icon Name="IconName.Add" />Add goal</Button>
        }

        <FiltersComponent @bind-Filters="_filters" />

    </CardBody>
    </Card>

    @if (SelectedCategory != null)
    {
        @foreach (GoalModel goal in SelectedCategory.GoalList)
        {
            <GoalComponent Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=_filters />
        }
    }
    else
    {
        @foreach (CategoryModel category in _repository.AllCategories.Values)
        {
            <Button Margin=Margin.Is2.FromTop.Is2.FromEnd Color=Color.Primary Size="Size" @onclick="async () => await OnSelectedCategoryChanged(category)">@category.Name</Button>

            @foreach (GoalModel goal in category.GoalList)
            {
                <GoalComponent Goal=goal @bind-SelectedGoal=_selectedGoal @bind-EditGoal=_editGoal Filters=_filters />
            }
        }
    }

</Div>
