@using Ididit.Data.Models

<Card Margin=Margin.Is3.FromBottom>
    <CardBody @onclick=SelectGoal>
        <EditGoalComponent @bind-Goal=Goal />

        @if (SelectedGoal == Goal)
        {
            <span>Selected</span>
            <MemoEdit AutoSize Text="@Goal.Details" Rows="@Goal.Rows" TextChanged=OnTextChanged />
        }
        else
        {
            @foreach(TaskModel task in Goal.TaskList)
            {
                <TaskComponent Task=task @bind-SelectedTask=_selectedTask />
            }
        }
    </CardBody>
</Card>
