@*@page "/help"*@

<Div Display=Display.Flex>
    <h4 class="d-inline-block">@Localizer["Help"]</h4>
    <Button Class="shadow-none" Margin=Margin.Is0.OnY.IsAuto.FromStart Padding=Padding.Is0 @onclick="ShowMainScreen">
        <Icon Class="fa-fw" Name="IconName.Times" />
    </Button>
</Div>

<h6><i class="fas fa-fw fa-tasks"></i> Tasks</h6>
<p>This icon creates tasks from notes</p>

<h6><Icon Class="fa-fw" Name="IconName.Bars" /> Menu</h6>
<p>This icon toggles the main menu</p>

<h6><Icon Class="fa-fw" Name="IconName.Wrench" /> Options</h6>
<p>This icon toggles the options menu</p>

<h6><Icon Class="fa-fw" Name="IconName.Save" /> Save</h6>
<p>This icon saves changes</p>

<h6><Icon Class="fa-fw" Name="IconName.QuestionCircle" /> Help</h6>
<p>This icon toggles the help screen</p>

<h6><Icon Class="fa-fw" Name="IconName.InfoCircle" /> About</h6>
<p>This icon toggles the about screen</p>

<h6><Icon Class="fa-fw" Name="IconName.Times" /> Clear</h6>
<p>This icon clears</p>

<h6><Icon Class="fa-fw" Name="IconName.Edit" /> Edit</h6>
<p>This icon lets you edit</p>

<h6><Icon Class="fa-fw" Name="IconName.Delete" /> Delete</h6>
<p>This icon deletes</p>

<h6><Icon Class="fa-fw" Name="IconName.Play" /> Start</h6>
<p>This icon starts timing the task</p>

<h6><Icon Class="fa-fw" Name="IconName.Check" /> Done</h6>
<p>This icon marks the task as done</p>

<h6><Icon Class="fa-fw" Name="IconName.History" /> History</h6>
<p>This icon shows the task history</p>

<h6><i class="fas fa-fw my-auto fa-angle-double-down"></i> Very low priority</h6>
<p>This icon indicates a very low task priority</p>

<h6><i class="fas fa-fw my-auto fa-angle-down"></i> Low priority</h6>
<p>This icon indicates a low task priority</p>

<h6><i class="fas fa-fw my-auto fa-minus"></i> Medium priority</h6>
<p>This icon indicates a medium task priority</p>

<h6><i class="fas fa-fw my-auto fa-angle-up"></i> High priority</h6>
<p>This icon indicates a high task priority</p>

<h6><i class="fas fa-fw my-auto fa-angle-double-up"></i> Very high priority</h6>
<p>This icon indicates a very high task priority</p>
