@*@page "/options"*@

@using Microsoft.AspNetCore.Components.Forms

<Card Margin=Margin.Is0.OnMobile.Is2.OnDesktop>
<CardBody Padding=Padding.Is1>

    <Field Margin=Margin.Is0>
        <FieldLabel>Size:</FieldLabel>

        <Select TValue="Size" Size="Size" SelectedValue="Size" SelectedValueChanged="OnSizeChanged">
            <SelectItem Value="Blazorise.Size.Default">Default</SelectItem>
            @*<SelectItem Value="Blazorise.Size.ExtraSmall">Extra small</SelectItem>*@
            <SelectItem Value="Blazorise.Size.Small">Small</SelectItem>
            <SelectItem Value="Blazorise.Size.Medium">Medium</SelectItem>
            <SelectItem Value="Blazorise.Size.Large">Large</SelectItem>
            @*<SelectItem Value="Blazorise.Size.ExtraLarge">Extra large</SelectItem>*@
        </Select>
    </Field>

    <Field Margin=Margin.Is0>
        <FieldLabel>Themes:</FieldLabel>

        <Select TValue="string" Size="Size" SelectedValue="Theme" SelectedValueChanged="OnThemeChanged">
            <SelectItem Value="@("default")">default</SelectItem>
            @foreach (string theme in Themes)
            {
                <SelectItem Value="theme">@theme</SelectItem>
            }
        </Select>
    </Field>

    <Label For="file-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import</Label>
    <InputFile id="file-upload" class="d-none" OnChange=Import />

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportJson>Export Json</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportYaml>Export Yaml</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportTsv>Export Tsv</Button>

    <Label For="notes-upload" Display=Display.Block Margin=Margin.Is2.FromTop class="btn btn-primary">Import Markdown</Label>
    <InputFile id="notes-upload" class="d-none" webkitdirectory directory multiple OnChange=ImportMarkdown />

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportMarkdown>Export Markdown</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ImportDirectory>Import folder</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportDirectory>Export folder</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ImportGoogleDrive>Import Google Drive</Button>

    <Button Color=Color.Primary Size="Size" Block=true @onclick=ExportGoogleDrive>Export Google Drive</Button>

</CardBody>
</Card>
