@inherits LayoutComponentBase

<div class="container-fluid h-100 d-flex flex-column">
    <div class="row flex-shrink-0">
        <div class="col-12 border">Header</div>
    </div>
    @Body
    <div class="row flex-shrink-0">
        <div class="col-12 border">
            <Label For="file-upload" Display=Display.Inline Margin=Margin.Is0.FromBottom class="btn btn-primary">Import</Label>
            <InputFile id="file-upload" class="d-none" OnChange=Import />

            <Button Color=Color.Primary Block=false @onclick=ExportJson>Export Json</Button>

            <Button Color=Color.Primary Block=false @onclick=ExportYaml>Export Yaml</Button>

            <Label For="notes-upload" Display=Display.Inline Margin=Margin.Is0.FromBottom class="btn btn-primary">Import Markdown</Label>
            <InputFile id="notes-upload" class="d-none" webkitdirectory directory multiple OnChange=ImportMarkdown />

            <Button Color=Color.Primary Block=false @onclick=ExportMarkdown>Export Markdown</Button>

            <Button Color=Color.Primary Block=false @onclick=ImportDirectory>Import folder</Button>

            <Button Color=Color.Primary Block=false @onclick=ExportDirectory>Export folder</Button>
        </div>
    </div>
</div>
