@page "/"

<PageTitle>ididit!</PageTitle>

<Column ColumnSize=ColumnSize.Is12.OnMobile.Is3.OnDesktop Padding=Padding.Is0 Height=Height.Max100 Overflow=Overflow.Auto>

    <Accordion Margin=Margin.Is0.OnMobile.Is2.OnDesktop>
        <Collapse Visible="@collapse1Visible">
            <CollapseHeader Padding=Padding.Is0>

                <Button Size=Size.Small Block=true Clicked="@(()=>collapse1Visible = !collapse1Visible)">Filters</Button>

            </CollapseHeader>
            <CollapseBody Padding=Padding.Is0 Style="margin: -12px">

                <FiltersComponent @bind-Filters="_filters" />

            </CollapseBody>
        </Collapse>
        <Collapse Visible="@collapse2Visible">
            <CollapseHeader Padding=Padding.Is0>

                <Button Size=Size.Small Block=true Clicked="@(()=>collapse2Visible = !collapse2Visible)">Categories</Button>

            </CollapseHeader>
            <CollapseBody Padding=Padding.Is0 Style="margin: -12px">

                <CategoriesComponent @bind-SelectedCategory=_selectedCategory />

            </CollapseBody>
        </Collapse>
    </Accordion>

</Column>
<Column ColumnSize=ColumnSize.Is12.OnMobile.Is9.OnDesktop Padding=Padding.Is0 Height=Height.Max100 Overflow=Overflow.Auto>
    <GoalsComponent @bind-SelectedCategory=_selectedCategory Filters="_filters" />
</Column>

@*
    row
        - if missing, the second column is not visible 
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    
    flex-grow-1
       - if missing, and content is not 100% height, footer will not be at the bottom
       flex-grow: 1!important;
    
    overflow-hidden
       - if missing, whole page scrolls, including header and footer
       overflow: hidden!important;

    col
       - if missing, column is minimum width
       position: relative;
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;

       flex-basis: 0;
       flex-grow: 1;
       max-width: 100%;
    
    mh-100
       - if missing, height is over 100%, but not scrollable
       max-height: 100%!important;
    
    overflow-auto
       - if missing, no vertical scrollbar
       overflow: auto!important;
*@