@page "/"

@using Blazorise
@using Ididit.App
@using Ididit.UI.Components
@using Microsoft.AspNetCore.Components.Web

@inject IUserDisplayName UserDisplayName

<MainComponent>
    <Span Margin=Margin.IsAuto.OnY>
        @if (string.IsNullOrEmpty(_name))
        {
            <button class="nav-link btn btn-link p-0 m-0 d-inline align-baseline shadow-none" @onclick="LogIn">Log in</button>
        }
        else
        {
            <span class="mr-1">@_name</span>
            <button class="nav-link btn btn-link p-0 m-0 d-inline align-baseline shadow-none" @onclick="LogOut">Log out</button>
        }
    </Span>
</MainComponent>

@code {
    string _name = string.Empty;

    async Task LogIn(MouseEventArgs args)
    {
        _name = await UserDisplayName.GetUserDisplayName();
    }

    void LogOut(MouseEventArgs args)
    {
        _name = string.Empty;
    }
}