@page "/"

@using Blazorise
@using Ididit.UI.Components
@using Ididit.WebView.UI.Components

<MainComponent>
    <Span Margin=Margin.IsAuto.OnY>
        <LoginComponent />
    </Span>
</MainComponent>